@font-face {
    font-family: "Normal";
    src: url(../red724/fonts/Normal.ttf);
}
@font-face {
    font-family: "roboto-regular";
    src: url(../red724/fonts/Roboto-Regular.ttf);
}
*{
    box-sizing: border-box;
   }
   body {
    margin: 0;
    font-family: "roboto-regular";
}
h1, h1, h3, h4, h5, h6{
font-family: "Normal"
}
P{
    line-height: 30px;
}
img {
    
    display: block;
max-width: 100%;
}
.container--flex{
    display:flex;
    justify-content: right;
    align-items: center;

}
.main-title {
    color: rgb(17, 17, 17);
  }    
.main-header{
    padding: 0 15px;
}
.menu {
  position: absolute; 
  top: 50px;
  left: 0;
  background: #23509D;
  width: 100%;
    list-style: none;
    padding: 20px;
    margin: 0;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}
.menu__item {
    padding: 20px;
    text-align: center;
}
.menu__link {
    
    color:rgb(255, 255, 255);
    text-decoration: none;
    position: relative;
}
.menu__link:hover{
    
    color: #C92887;
    transition: all 0.5s;
   }

.icon-menu{
    font-size: 1.5em;
    color: #23509D;
    border: 1px solid #ffffff;
    display: block;
    padding: 5px 12px;
    border-radius: 3px;
    cursor: pointer;
    padding: 0;
    margin: 0;
}
.nav-social{
    display: flex;
    justify-content: center;
    
}
.nav-social_item{
width: 35px;
height: 35px;
display: block;
text-align: center;
line-height: 20px;
padding: 8px;
margin: 8px;
border-radius: 50%;

}
.nav-social_item:first-child{
    background: #C92887;
}
.nav-social_item:nth-child(2){
    background: #C92887;
}
.nav-social_item:nth-child(3){
    background: #C92887;
}
.nav-social_item:nth-child(4){
    background: #C92887;
}
.nav-social_item i{
    color: white;
       
}
.mostrar{
    opacity: 1;
    visibility: visible;
}


/*banner*/

.banner {   
background: url(https://image.freepik.com/foto-gratis/mujer-usando-computadora-portatil-cerca-telefono-inteligente-mesa_23-2148040485.jpg);
    background-position: center;
    min-height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -999;
    background-repeat:no-repeat;
    }


.banner__content {
    width: 100%;
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #23509D;
    font-size: 1.3em;

}
.banner::before {
    content: "";
    width: 100%;
    min-height: 400px;
    background: rgba(0,0,0,0.2);
    position: absolute;
    top: 0;
    left: 0;
   
  
}

  .main {
      margin-top: 300px;
    
      
  }
  .Nosotros {
    text-align: center;
    padding: 150px;
    
  }
  .Nosotros__txt {
      font-size: 1.1em;
      
  }
  
}
.Nosotros__Title::before {
    content:"" ;
}
.Informacion__btn {
    display: block;
    border: 2px solid #23509D;
    width: 150px;
    margin: auto;
    padding: 10px;
    text-decoration: none;
    color: #C92887;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 30px;
    transition: all 0.5s;
}
.Informacion__btn:hover {
    color: #ffff;
    background:#23509D;
}
.design__item {
position: relative;
}
.design__item::before {
     content: "";
  width: 100%;
  min-height: 100%;
  background: rgba(0,0,0,0.2);
  position: absolute;
  top: 0;
  left: 0;
}


.design__title {
position: absolute;
top: 50%;
left: 50%;
transform: translateX(-50%) translateY(-50%);
color: #C92887;
font-size: 1.8em;
width: 100%;
text-align: center;
}

.design__title::before{
    content: "";
    width: 200px;
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    background: #23509D;
    
}
.container-desig {
    margin: 20px 0;
}
.Clientes-Actuales {
    text-align: center;
    padding: 150px;
}
.clientes__img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin: auto;
}
.clientes__txt {
    text-align: center;
    padding: 20px;
}
.clientes__name{
    text-align: center;
    font-size: 1.4em;
    color: #23509D;
    font-weight: bold;
}
.box__icon{
    width: 100px;
    height: 100px;
    border: 2px solid #999;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #23509D;

}
.box__icon:hover{
    color: #C92887;
}
.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    padding: 10px;

}
.box__content{
   width: 70%; 
}
.box__title {
    color: #23509D;
    margin: 0;
}
.box__txt {
    color: #999;
}
.section__title{
    color: #23509D;
    text-align:right center ;
    padding: 50px;
}
.form__mail{
    display: block;
    background: #ddd;
    padding: 15px;
    width: 75%;
    border: none;
    font-size: 1em;
  }
  .form__submit{
    display: block;
    background: #23509D;
    border: none;
    padding: 15px;
    width: 30%;
    color: white;
    font-size: 1em;
  }
  .form{
     
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    max-width: 600px;
  }
 .main--footer {
     background:#23509D ;
     color: white;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;

 }
 .column--50-25 {
     width: 49%;

 }
.footer__autor {
text-align: right;
color:white ;
display: block;
}
.social-link {
    color: #ffffff;
    padding: 10px 12px;
        border: 2px solid #ffffff;
    border-radius: 50%;
    align-items: center;
    
}
.footer--title {
    font-size: 1.8em;
        text-align: center;
}
.social-icon{
    display: flex;
    padding: 10px;
    justify-content: center;
   
}

.contact-link {
    color: #ffffff;
    padding: 10px 12px;
    align-items: center;
}
.copy {
    padding: 30px;
    background: #211E1E;
    width: 100%;
    text-align: center;   
}
.copy_tex {
    text-align: center;
    width: 100%;
}
@media screen and (min-width: 768px) {
    .menu{
      position: static;
      opacity: 1;
      visibility: visible;
      width: auto;
      display: flex;
      background: none;
      font-size: .8em;
    }
    .menu__item {
        width: auto;
      }
      .icon-menu{
        display: none;
      }
      .banner {
        min-height: 500px;
      }
      .banner:before {
        min-height: 500px;
      }
      .main{
        margin-top: 400px;
      }
      .box{
        justify-content: center;  
      }
      .box__icon{
        margin-right: 30px;
      }
      .form {
          max-width:600px;
      }
}
@media screen and (min-width: 1024px) {
    .container {
      width: 1000px;
      margin: auto;
    }
    .main-title{
      font-size: 2.5em;
    }
    .menu {
      font-size: 1em;
    }
    .banner {
      min-height: 600px;
    }
    .banner:before {
      min-height: 600px;
    }
    .banner__title, .banner__txt {
      font-size: 1.5em;
      padding: 10px;
    }
    .main{
      margin-top: 500px;
    }
    .design__item{
      height: 400px;
    }
    .container-design .design__img{
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    
    .container-design, .container-tips{
      display: flex;
      flex-wrap: wrap;
    }
    .design__item{
      width: 50%;
    }
    .container-box{
      width: 50%;
    }
    .container-tips {
      height: 500px;
    }
    .container-tips .design__item{
      height: 100%;
    }
    .container-tips .design__img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    .column--50-25 {
      width: 24%;
    }
  }
  @media screen and (min-width: 1280px) {
    .container {
      width: 1200px;
    }
    .design__title{
      font-size: 2.5em;
    }
    .design__item{
      height: 500px;
    }
  }
  @media screen and (min-width: 1600px) {
    .container {
      width: 1400px;
    }
    .banner__title, .banner__txt {
      font-size: 2em;
    }
  }
  .logo {
      width: 250px;
      justify-content:left ;

  }